@media only screen and (max-width: 900px) {

    .mx-5 {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }

    .my-3 {
        margin-bottom: .5rem !important;
        margin-top: .5rem !important;
    }

    .my-5 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    h2 {
        font-size: 1.5rem;
    }

    h2.accordion-header * {
        font-size: .7rem !important;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    a.btn {
        font-size: 1rem;
    }

    h5 {
        font-size: .8rem;
    }

    p {
        font-size: .7rem;
    }

    li {
        font-size: .7rem;
    }

    a.nav-link {
        font-size: .8rem;
    }

    text.title {
        font-size: 1rem !important;
    }

    text.total {
        font-size: .6rem !important;
    }

    .accordion-button {
        padding: 2% !important;
        padding-bottom: .5rem !important;
    }

    .accordion-body {
        padding: 2% !important;
        padding-bottom: .5rem !important;
        font-size: .7rem;
    }

    .boxplot-summary {
        padding: 5px !important;
    }

    .boxplot-summary svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(75%);
        transform-origin: 10%;
    }

    .boxplot-children svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(75%);
        transform-origin: -10%;
    }

    .boxplot-row {
        padding: 5px !important;
    }

    .barchart-row {
        padding: 5px !important;
    }

    .nav {
        padding-left: 2px;
        padding-right: 2px;
    }

    .nav li {
        display: block !important;
        width: 100%;
        margin: 0px;
    }

    .card .nav-link.active {
        border-bottom: 1px solid #dee2e6 !important;
        border-radius: .25rem !important;
        margin: 0px;
    }

    .button-list .col {
        padding: 2%;
        max-width: 40%;
    }

    .card {
        margin-bottom: 2%;
    }

    .col-sm-3 {
        margin-left: 1rem;
    }

}

@media only screen and (max-width: 770px) {

    .img-thumbnail {
        width: 100px !important;
        height: 100px !important;
    }

    .col-sm-3 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .col-auto {
        margin-right: 1rem;
    }

    .col h4 {
        margin-left: .3rem;
    }

    .col {
        padding-left: .5rem;
    }

    ol {
        margin-bottom: 0;
    }

    .card {
        width: 99% !important;
    }

    .card-body {
        padding: 2%;
        max-height: max-content;
    }
}

@media only screen and (max-width: 500px) {

    .img-thumbnail {
        width: 50px !important;
        height: 50px !important;
    }

    #compareButton {
        margin-left: 3rem;
        max-width: 6rem;
        max-height: 3rem;
        font-size: .6rem;
    }


    .barchart-summary {
        padding: 5px !important;
    }

    .barchart-summary svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(75%);
        transform-origin: -20%;
    }

    .barchart-children svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(75%);
        transform-origin: -25%;
    }

    .col-sm-3 {
        margin-bottom: 1rem;
    }

    .carousel-item .card-text {
        display: none;
    }
}

@media only screen and (max-width: 350px) {

    .img-thumbnail {
        width: 25px !important;
        height: 25px !important;
    }

    .boxplot-summary svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(60%);
        transform-origin: 10%;
    }

    .boxplot-children svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(60%);
        transform-origin: 10%;
    }

    .barchart-summary svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(70%);
        transform-origin: -10%;
    }

    .barchart-children svg {
        width: max-content !important;
        max-width: 300% !important;
        transform: scale(70%);
        transform-origin: -15%;
    }

    .col-sm-3 {
        margin-bottom: 1rem;
    }

    .carousel-item .card-text {
        display: none;
    }
}

@media only screen and (max-width: 1150px) {

    #designCardLeft {
        display: none;
    }

    #designCardRight {
        display: none;
    }

    #designCard {
        display: none;
    }

    #mobile-warning {
        padding-left: 1%;
        text-align: center;
        display: block !important;
    }

    .col-md-6 {
        max-width: 0%;
    }
}

@media only screen and (max-width: 1150px) {

    #designCardLeft {
        display: none;
    }

    #designCardRight {
        display: none;
    }

    #designCard {
        display: none;
    }

    #mobile-warning {
        display: block !important;
    }

    .col-md-6 {
        max-width: 0%;
    }
}


@media only screen and (max-width: 1300px) {

    h5.card-title {
        font-size: .9rem;
    }

    p.card-text {
        font-size: .8rem;
    }

    .card-body {
        font-size: .8rem;
    }

    .card-img {
        float: right !important;
    }

}

@media (prefers-color-scheme: dark) {

    body {
        color: #eee;
        background: #121212;
    }

    .BeReal {
        fill: #fff !important;
    }

    .card {
        border-color: #eee;
    }

    .dropdown-menu {
        background: #121212;
        border: solid 1px #eee;
    }

    .dropdown-menu * {
        background: #121212;
        color: #eee;
    }

    .dropdown-menu *:hover {
        background: #000000;
        color: #eee;
    }

    .bg-accent1 {
        color: #eee;
    }

    a.btn.bg-accent1:hover {
        color: #d0d0d0;
    }

    button.bg-accent1:hover {
        color: #d0d0d0;
    }

    .card-header {
        background: #121212;
        border-bottom-color: #eee;
    }

    .card-header-tabs a {
        background: #121212 !important;
    }

    .nav-tabs .nav-link {
        border-bottom-color: #eee;
    }

    .nav-tabs .nav-link.active {
        color: #eee !important;
        border-bottom-color: #121212 !important;
        background: #121212 !important;
    }

    .boxplot-summary {
        color: #eee;
        background: #121212;
    }

    .barchart-summary {
        color: #eee;
        background: #121212;
    }

    .title {
        color: #eee;
        background: #121212;
    }

    .total {
        fill: #eee;
        background: #121212;
    }

    .label {
        fill: #eee;
    }

    text {
        color: #eee;
    }

    tspan {
        fill: #eee;
    }

    .range {
        stroke: #eee;
    }

    .median {
        stroke: #eee;
    }

    circle {
        fill: #eee;
    }

    .h5 {
        color: #eee;
    }

    .card-body {
        color: #eee;
        background: #121212;
    }

    .card {
        color: #eee;
        background: #121212;
    }

    .accordion {
        color: #eee;
        background: #121212;
    }

    .accordion-button {
        color: #eee;
        background: #121212 !important;
    }

    .accordion-body {
        color: #eee;
        background: #121212;
    }
}

@media only screen and (max-width: 900px) and (prefers-color-scheme: dark) {
    .nav-tabs .nav-link.active {
        border-bottom: 1px solid #eee !important;
        border-radius: .25rem !important;
        margin: 0px;
    }

    .nav-tabs .nav-link {
        border-radius: 0;
    }

}

p.col {
    padding-right: 5%;
}

.boxplot-summary {
    margin-bottom: 0px;
}

.barchart-summary {
    margin-bottom: 0px;
}

.carousel-indicators button {
    background-color: #eee !important;
}

.carousel-control-prev-icon {
    filter: none !important;
}

.carousel-control-next-icon {
    filter: none !important;
}

.flex-col {
    flex-basis: 10%;
}

p {
    text-align: justify !important;
}

.bg-accent1 {
    background-color: rgba(22, 182, 179, 0.5);
}

a.btn.bg-accent1:hover {
    background-color: rgba(13, 154, 151, 0.5);
}

button.bg-accent1:hover {
    background-color: rgba(13, 154, 151, 0.5);
}

.bg-accent2 {
    background-color: rgba(186, 237, 69, 0.5);
}

.bg-accent3 {
    background-color: rgba(252, 139, 74, 0.5);
}

.bg-accent4 {
    background-color: rgba(228, 58, 114, 0.5);
}

.bg-main {
    background-color: rgb(94, 100, 138);
}

.bg-bereal {
    background-color: #000000;
}

.bereal {
    color: #000000 !important;
}

.bg-facebook {
    background-color: #1178f2;
}

.facebook {
    color: #1178f2 !important;
}

.bg-instagram {
    background-color: #C13584;
}

.instagram {
    color: #C13584 !important;
}

.bg-linkedin {
    background-color: #0274b3;
}

.linkedin {
    color: #0274b3 !important;
}

.bg-reddit {
    background-color: #FF4301;
}

.reddit {
    color: #FF4301 !important;
}

.bg-snapchat {
    background-color: #FFFC00;
}

.snapchat {
    color: #FFFC00 !important;
}

.bg-tiktok {
    background-color: #ff0050;
}

.tiktok {
    color: #ff0050 !important;
}

.bg-tumblr {
    background-color: #34526f;
}

.tumblr {
    color: #34526f !important;
}

.bg-twitch {
    background-color: #9146FF;
}

.twitch {
    color: #9146FF !important;
}

.bg-twitter {
    background-color: #1DA1F2;
}

.twitter {
    color: #1DA1F2 !important;
}

.bg-youtube {
    background-color: #FF0000;
}

.youtube {
    color: #FF0000 !important;
}

.bg-chan {
    background-color: #6cad51;
}

.chan {
    color: #6cad51 !important;
}

.bg-grey {
    background-color: lightgray;
}

.bottom {
    bottom: 0;
}

.carousel-indicators .active {
    background-color: grey;
}

.carousel-indicators li {
    background-color: lightgray;
}

.card,
.card::before,
.card::after {
    box-sizing: unset;
!important;
}


.card-height {
    height: 200px;
}

.card-img-width {
    width: 250px;
}

.boxplot-summary {
    padding: 20px
}

.boxplot-children .boxplot-row {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.boxplot-children .boxplot-row:first-child {
    padding-top: 0;
}

.boxplot-children .boxplot-row:last-child {
    border-bottom: none;
}

.total {
    font-size: small;
    text-align: center;
    width: 200px;
}

.tick text {
    font-size: 0.8em;
}

.label {
    font-size: 0.5em;
}