/*TODO: Test dark mode*/
/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        color: #eee;*/
/*        background: #121212;*/
/*    }*/
/*}*/

.flex-col {
    flex-basis: 10%;
}

p {
    text-align: justify !important;
}

.bg-accent1 {
    background-color: rgba(22, 182, 179, 0.5);
}
.bg-accent2 {
    background-color: rgba(186, 237, 69, 0.5);
}
.bg-accent3 {
    background-color: rgba(252, 139, 74, 0.5);
}
.bg-accent4 {
    background-color: rgba(228, 58, 114, 0.5);
}

.grid-top-left {
    border-right: black solid 2px;
    border-bottom: black solid 2px;
}

.grid-top-right {
    border-left: black solid 2px;
    border-bottom: black solid 2px;
}

.grid-bottom-left {
    border-right: black solid 2px;
    border-top: black solid 2px;
}

.grid-bottom-right {
    border-left: black solid 2px;
    border-top: black solid 2px;
}

.bg-main {
    background-color: rgb(94, 100, 138);
}

.bg-bereal {
    background-color: #000000;
}

.bereal {
    color: #000000 !important;
}

.bg-facebook {
    background-color: #1178f2;
}

.facebook {
    color: #1178f2 !important;
}

.bg-instagram {
    background-color: #C13584;
}

.instagram {
    color: #C13584 !important;
}

.bg-linkedin {
    background-color: #0274b3;
}

.linkedin {
    color: #0274b3 !important;
}

.bg-reddit {
    background-color: #FF4301;
}

.reddit {
    color: #FF4301 !important;
}

.bg-snapchat {
    background-color: #FFFC00;
}

.snapchat {
    color: #FFFC00 !important;
}

.bg-tiktok {
    background-color: #ff0050;
}

.tiktok {
    color: #ff0050 !important;
}

.bg-tumblr {
    background-color: #34526f;
}

.tumblr {
    color: #34526f  !important;
}

.bg-twitch {
    background-color: #9146FF;
}

.twitch {
    color: #9146FF !important;
}

.bg-twitter {
    background-color: #1DA1F2;
}

.twitter {
    color: #1DA1F2 !important;
}

.bg-youtube {
    background-color: #FF0000;
}

.youtube {
    color: #FF0000 !important;
}

.bg-chan {
    background-color: #6cad51;
}

.chan {
    color: #6cad51 !important;
}

.bg-grey {
    background-color: lightgray;
}

.bottom {
    bottom: 0;
}

.carousel-indicators .active {
    background-color: grey;
}

.carousel-indicators li {
    background-color: lightgray;
}

.card,
.card::before,
.card::after {
    box-sizing: unset; !important;
}


.card-height {
    height: 200px;
}

.card-img-width {
    width: 250px;
}

.boxplot-summary {
    padding: 20px
}
.boxplot-children .boxplot-row {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.boxplot-children .boxplot-row:first-child {
    padding-top: 0;
}
.boxplot-children .boxplot-row:last-child {
    border-bottom: none;
}
.total {
    font-size: small;
    text-align: center;
    width: 200px;
}

.tick text{
    font-size: 0.8em;
}